/* max blue: #002be7 */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;    
    /* outline: 1px solid white; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: white;
}

h1, h2 {
    font-family: "Rubik", system-ui, sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center; 
    font-weight: 400;
}

p {
    font-size: 1.2rem;
}

.btn {
    background-color: #002be7;
    color: #fff;
    padding: 0.8rem 2rem;
    min-width: 200px;
    display: inline-block;
    font-weight: 800;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #0021b2;
}

.btn.secondary {
    color: #000;
    background-color: #fff;;
}

.btn.secondary:hover {
    background-color: hsla(0, 0%, 100%, .7);;
}

/* Section Styles */

header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* outline: 1px solid white; */
    position: fixed;
    left:0;
    top:0;
    width: 100%;

}

#logo {
    font-size: 2.5rem;
    text-decoration:none; 
}

header a {
    color: white;
    text-decoration: none;

}

header nav a {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 13px;
    position: relative;
    transition: transform 0.3s;
    
}

header nav a:hover {
    background-color: #333;
}

.signup {
    background-color: white;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

.signup:hover {
    background-color: gray;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

section.hero {
    margin-top: 4rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #222;
    background-image: 
        linear-gradient(0deg, black 30%, transparent 120%), 
        url("images/Max-Quilt_Generic_Skewed_KA_2_24-withDune2.jpg");

    background-position: center center;
    /* background-size: cover; */
    /* background-size: 50%; */
}

.image-heading img {
    max-width: 100px;
}

.pricing-container {
    margin-top:4rem;
    text-transform: uppercase;
}

.pricing-container b {
    font-weight: 800;
    font-size: 1.8rem;
}

.pricing-container > div {
    margin-block: 2rem;
}


.fine-print {
    font-size: .7rem;
    text-align: center;
}


.major-faq .question-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.major-faq .question-container .left {
    min-width: 40px;
    text-align: center;
}

.circle-bg {
    width: 30px;
    height: 30px;
    background: #002be7;
    background: linear-gradient(180deg,#002be7 0%, #001679 100% );
    border-radius: 50%;
    line-height: 30px;
    text-align: center;

    font-weight: 800;
}

.major-faq .question-container .right p {
    font-size: 1.0rem;
}

.major-faq .question-container .right p a {
    color: #4f8bff;
    text-decoration: none;
    font-weight: 600;
}

.major-faq .question-container .right p a:hover {
    color: white;
}


  
.plans {
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  
.plan-box {
    background: white;
    border-radius: 10px;
    width: 15rem;
    padding: 2rem 3rem;
    margin-bottom: 5rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    }
  
  .plan-box h2 {
    color: black;
    margin: 0 0 10px 0;
    font-size: 24px;
  }
  
  .plan-box .price {
    font-size: 22px;
    color: black;
    margin: 10px 0 20px 0;
  }
  
  .plan-box ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .plan-box ul li {
    color: black;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .plan-box button {
    background: #a78bfa;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
  }
  
  .plan-box button:hover {
    background: #7c3aed;
  }
  
  .plan-box:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  }
  


footer {
    margin-top: 3rem;
}



footer a {
    color: white;
    text-decoration: none;
    font-size: .75rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

footer a:hover {
    background-color: #222;
}

footer .important-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .25rem;
    text-transform: uppercase;
    font-weight: 800;
}

footer .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .25rem;
    text-transform: uppercase;
    font-weight: 300;
}

footer .copyright {
    text-align: center;
}

footer .copyright p{
    font-size: 0.8rem;
}